
# Created by https://www.gitignore.io/api/sass,jekyll
# Edit at https://www.gitignore.io/?templates=sass,jekyll

### Jekyll ###
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

### Sass ###
*.css.map
*.sass.map
*.scss.map

# End of https://www.gitignore.io/api/sass,jekyll