---
title: David Jiang
tagline: Musician, Photographer, Developer.
---
<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/assets/css/main.css" />
</head>

<body>
    <header id="header" class="alt">
        <a href="#banner" class="logo">
            <img src="/assets/images/logo.png" alt="">
            <h1>{{ page.title }}</h1>
        </a>
        <nav>
            <ul>
                <li>
                    <a href="#experience">Experience</a>
                </li>
                <li>
                    <a href="#projects">Projects</a>
                </li>
            </ul>
        </nav>
    </header>
    <section id="banner">
        <div class="bg boxshadow" id="bg"></div>
        <div class="inner">
            <h2>{{ page.title }}</h2>
            <p>{{ page.tagline }}</p>
            <p class="icons">
                {% for item in site.data.icons %}
                    <a href="{{ item.url }}" {% if item.new_page %}target="_blank"{% endif %}><i class="{{ item.icon }}"></i></a>
                {% endfor %}
            </p>
        </div>
    </section>
    <section id="wrapper">
        <section class="about boxshadow">
            <a class="anchor" id="about"></a>
            <div class="inner">
                <h2>Hey!</h2>
                <div class="content">
                    <section class="tiles tiles-horizontal">
                        <article class="tile">
                            <a href="/assets/images/profile.jpg" class="image profile-image"><img src="/assets/images/profile-t.jpg" alt="" /></a>
                            <div class="tile-content">
                                <p>David here,</p>
                                <p>I am a full stack developer based in Toronto, Canada. I have 4+ years of professional work experience in web development and a B.ASc from the Honours Computer Science Co-op program at McMaster University.
                                </p>
                                <p>I specialize in full stack web development. (Python/Django, Angular). But also have extensive experience with DevOps and SysAdmin Tools and integration with Cloud. You can check out some of my projects
                                    <a href="#projects">here</a>.</p>
                                <p>Aside from development, I love to spend my time playing table tennis, traveling, taking photos and creating music.</p>
                            </div>
                        </article>
                    </section>
                </div>
            </div>
        </section>
        <section class="experience boxshadow">
            <a class="anchor" id="experience"></a>
            <div class="inner">
                <h2>Experience</h2>
                <div class="content">
                    <section id=timeline>
                        <div class="card-wrapper">
                        {% assign experiences = site.experience | sort:"order" | reverse %}
                        {% for experience in experiences %}
                            <div class="card card--step{{ forloop.index }}">
                                <div class="head">
                                    <div class="logo-box"><img src="{{ experience.image }}" alt="" /></div>
                                    <h2><span class="small"><strong>{{ experience.company }}</strong></span> {{ experience.role }}</h2>
                                    <div class="date">
                                        <div class="from">{{ experience.from }} -</div>
                                        <div class="to">{{ experience.to }}</div>
                                    </div>
                                </div>
                                <div class="body">
                                    {{ experience.content | markdownify }}
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </section>
                </div>
            </div>
        </section>
        <section class="projects">
            <a class="anchor" id="projects"></a>
            <div class="inner">
                <h2>Projects</h2>
                <div class="content">
                    <section class="tiles tiles-vertical">
                        {% assign projects = site.projects | sort:"order" %}
                        {% for project in projects %}
                        <article class="tile">
                            <a href="{{ project.ext_url }}" target="_blank" class="image"><img src="{{ project.image }}" alt=""></a>
                            <div class="tile-content">
                                <h3>
                                    <a href="{{ project.ext_url }}" target="_blank">{{ project.title }}</a>
                                </h3>
                                <p>{{ project.content | markdownify }}</p>
                                <div class="tags">
                                    {% for tag in project.tags %}
                                        <span class="tag">{{ tag }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </article>
                        {% endfor %}
                    </section>
                </div>
            </div>
        </section>
    </section>
    <section id="footer">
        <div class="inner">
            <span>Copyright &copy; {{ 'now' | date: "%Y" }} David Jiang. All rights reserved.</span>
        </div>
    </section>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js" integrity="sha512-Kef5sc7gfTacR7TZKelcrRs15ipf7+t+n7Zh6mKNJbmW+/RRdCW9nwfLn4YX0s2nO6Kv5Y2ChqgIakaC6PW09A==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js" integrity="sha512-ju6u+4bPX50JQmgU97YOGAXmRMrD9as4LE05PdC3qycsGQmjGlfm041azyB1VfCXpkpt1i9gqXCT6XuxhBJtKg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.scrollex/0.2.1/jquery.scrollex.min.js" integrity="sha512-eFxuATJvNeUrxxoS/5AeVi6X4wY6IdI9kAtRbuGyD2XTLoJ/R9uBce9lsf2UyvY0tQYlUkbs1wV9jhOPxANCzg==" crossorigin="anonymous"></script>
    <script src="/assets/js/main.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-101960403-1', 'auto');
      ga('send', 'pageview');

    </script>
</body>

</html>
